#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

IDR_MAINICON ICON "app.ico"



101 RCDATA "Install.7z"
102 RCDATA "7z.exe"
103 RCDATA "7z.dll"
104 RCDATA "Webview2Setup.exe"
//